
@import '_colors.scss';

.iconNav {
  height: 24px;
  width: 24px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.iconMenu{
  margin: 1em;
  cursor: pointer;
}

.iconBackDrawer{
  margin: 1em;
}

.settings {
  margin: auto;
  margin-right: 1em;

}

.iconBadge {
  // height: 100px;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}