.misEstadisticas{
    margin-top: 68px;
  }
  
  .misEstadisticasHeader{
    height: 230px;
  }
  
  .misEstadisticasImageScooter{
    position: absolute;
    width: 190px;
    height: 135px;
    left: 155px;
    top: 127px;
  
    background: url("../assets/askoll.png");
  }
  
  .misEstadisticasHeaderElipse{
    border-radius: 100px;
    position: absolute;
    width: 150px;
    height: 150px;
    left: 112px;
    top: 101px;
  
    background: rgba(255, 255, 255, 0.84);
    border: 2px solid #17BAED;
    box-sizing: border-box;
  }
  
  .misEstadisticasHeaderKilometersNumber{
    position: absolute;
    width: 76px;
    height: 34px;
    left: 150px;
    top: 151px;
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
  
    color: #000000;
  }
  
  .misEstadisticasHeaderKilometersText{
    position: absolute;
    width: 83px;
    height: 18px;
    left: 146px;
    top: 185px;
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
  
    color: #000000;
  }
  
  .misEstadisticasContent{
    
  }
  
  .misEstadisticasContentFlex{
    display: flex;
    justify-content: center;
  }
  
  .misEstadisticasContentPuntosContainer{
    width: 261px;
    height: 52px;
    display: flex;
    justify-content: center;
    background: linear-gradient(260.16deg, #A2E982 15.73%, #66D1F0 108.38%);
    border-radius: 8px;
  }
  
  .misEstadisticasLogros{
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .misEstadisticasLogrosTitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
  }
  
  .misEstadisticasContentFlexLogros{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }