
  .addFriend {
    margin: auto;
    text-align: center;
  }


  .addFriend .image-scooter{
    height: 200px;
    top: 200px;
    margin-top: 2em;
  }

  .addFriend .description{
  margin-top: 7em;
  text-align: center;

}

 .addFriend .name-textfield {
  width: 80%;
  margin-top: 2em;
  margin: 10%;
}

.addFriend .name-textfield  fieldset {
  border-radius: 25px;
}

.addFriend .add-name > button{
  background: linear-gradient(260.62deg, #A2E982 15.73%, #66D1F0 108.38%);
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  font-size: 16px;
  width: 12em;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 1em;
}