openapi: '3.0.0'

info:
  description: 🛵 Gamification app built in eCooltra hackathon
  version: '1.0'
  title: weCooltra API

servers:
  - url: http://api.wecooltra.ga
    description: Deployment endpoint.

tags:
  - name: user
    description: endpoint for managing user options.
  - name: trip
    description: endpoint for managing trip options.
  - name: achievement
    description: endpoint for managing achievement options.
  - name: friend
    description: endpoint for managing friend options.
  - name: statistics
    description: endpoint for managing user statistics.

paths:
  /user:
    get:
      tags:
        - user
      summary: Retrieve user Information
      description: Invoke this endpoint to retrieve information of a given user.
      operationId: src.api.user.get
      parameters:
        - name: user_id
          in: query
          description: Specifies the user to retrieve.
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Standard weCooltra API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                type: string
                description: Error description.

  /user/count:
    get:
      tags:
        - user
      summary: Retrieve user count
      description: Invoke this endpoint to retrieve the total amount of users.
      operationId: src.api.user.count
      responses:
        200:
          description: Standard weCooltra API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                type: string
                description: Error description.

  /user/random:
    get:
      tags:
        - user
      summary: Retrieve identifier of a random user
      description: Invoke this endpoint to retrieve an identifier of a random user.
      operationId: src.api.user.random
      responses:
        200:
          description: Standard weCooltra API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                type: string
                description: Error description.

  /trip:
    get:
      tags:
        - trip
      summary: Retrieve all the trips from a user
      description: Invoke this endpoint to obtain all the trips from a user.
      operationId: src.api.trip.get
      parameters:
        - name: user_id
          in: query
          description: Specifies the user to retrieve.
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Standard weCooltra API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                type: string
                description: Error description.

  /achievement:
    get:
      tags:
        - achievement
      summary: Retrieve achievement Information
      description: Invoke this endpoint to retrieve all the achievements of the ones from a user.
      operationId: src.api.achievement.get
      parameters:
        - name: user_id
          in: query
          description: Specifies the user to retrieve.
          required: false
          schema:
            type: integer
      responses:
        200:
          description: Standard weCooltra API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                type: string
                description: Error description.

  /achievement/count:
    get:
      tags:
        - achievement
      summary: Retrieve achievement count from users
      description: Invoke this endpoint to retrieve the total amount of users achievements.
      operationId: src.api.achievement.count
      responses:
        200:
          description: Standard weCooltra API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                type: string
                description: Error description.

  /friend:
    get:
      tags:
        - friend
      summary: Retrieve all the friends from a user
      description: Invoke this endpoint to obtain all the friends from a user.
      operationId: src.api.friend.get
      parameters:
        - name: user_id
          in: query
          description: Specifies the user to retrieve.
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Standard weCooltra API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                type: string
                description: Error description.

    post:
      tags:
        - friend
      summary: Create a relation between two users making them friends
      description: Invoke this endpoint to relate a user with another one making them friends.
      operationId: src.api.friend.post
      requestBody:
        required: true
        description: Body wrapper for the request.
        content:
          application/json:
            schema:
              type: object
              properties:
                user_one:
                  type: integer
                  description: User one identifier.
                user_two:
                  type: integer
                  description: User two identifier.
      responses:
        200:
          description: Standard UnstuckOverflow API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                type: string
                description: Error description.

  /friend/count:
    get:
      tags:
        - friend
      summary: Retrieve friend count
      description: Invoke this endpoint to retrieve the total amount of friends.
      operationId: src.api.friend.count
      responses:
        200:
          description: Standard weCooltra API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                type: string
                description: Error description.

  /statistics:
    get:
      tags:
        - statistics
      summary: Retrieve user statistics
      description: Invoke this endpoint to retrieve specific statistics of a given user.
      operationId: src.api.statistics.get
      parameters:
        - name: user_id
          in: query
          description: Specifies the user to retrieve.
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Standard weCooltra API JSON response. You should check the `error` attribute to determine if there was an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
        default:
          description: Unexpected error.
          content:
            application/text:
              schema:
                type: string
                description: Error description.

components:
  schemas:
    APIResponse:
      type: object
      properties:
        error:
          type: boolean
          description: Whether or not the request was successfully processed or not.
        message:
          type: string
          description: Error message if the request was unsuccessful.
        response:
          type: object
          description: Contains the response data if the request was successful.
